<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
              I used to like computer games, so naturally, I thought, "I want to make a game, too." After I happened to have a smartphone, some people play games and some people don't, but I became interested in developing apps because everyone uses smartphones now. So I went to the university to study mobile related department and started development.
            </p>
        </div>
    </section>
</div>
