<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
			안녕하세요.</br>
			안드로이드 개발자 정병훈입니다.</br>
			현재는 자바로 주로 개발을 하고 있고 </br>
			코틀린 언어를 공부중입니다.</br>
		</p>
		<p class="paragraph-text justify-text">
		2020.02 ~ 2020.05 - 외주를 받아 매장에 설치 할 앱 GaguBook을 개발</br>
		</br>
		2020.10 ~ 2021.08 - 위즈스트림 안드로이드 개발에 참여 LMS 파트를 주로 개발</br>
            </p>
        </div>
    </section>
	
</div>
