<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
               제 페이지를 보러 와주셔서 감사합니다 ! 
            </p>
            <p class="paragraph-text justify-text">
                email : j95hun@naver.com
            </p>
			<!--
            <p class="paragraph-text justify-text">
                My resume is available here: <a href="{{ site.blog_url }}/resume/resume.pdf">PDF</a>, <a href="{{ site.blog_url }}/resume/resume.docx">DOC</a>
            </p>
			-->
            <div class="extra-links">
			<!--
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
				-->
				<span class="hint--bottom bottom-link" aria-label="BOJ">
                    <a href="https://www.acmicpc.net/user/j95hun">
						<img src="assets/images/boj.png">
					</a>
                </span>
                </span>
				
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                </span>
            </div>
        </div>
    </section>
</div>